<div ng-controller="rawMaterialController as vm">
    <div class="row">
        <form id="frmNewRawMaterial" role="form" name="newRawMaterialForm" class="form-horizontal" novalidate>
            <fieldset>
                <legend>Add Raw Material</legend>
                <input id="rawMaterialId" ng-model="vm.rawMaterial.id" type="hidden" />
                <div class="form-group">
                    <label for="rawMaterialType">Raw Material Type</label> 
                    <select id="rawMaterialType" ng-model="vm.selectedRawMaterialType" ng-options="option.rawMaterialTypeName for option in vm.rawMaterialTypes track by option.id">
                        <option value="">---Please select---</option>
                    </select>                                       
                </div>
                <div class="form-group">
                    <label for="brandType">Brand Type</label>
                    <select id="brandType" name="sltBrandType" ng-model="vm.selectedBrand" ng-options=" option.brandName for option in vm.brands track by option.id " required>
                        <option value="">Select Brand Type</option>
                    </select>
                    <span class="error" ng-show="newBrandForm.sltBrandType.$dirty && newBrandForm.sltBrandType.$invalid">Select Brand Type</span>
                </div>
                <div class="form-group">
                    <label for="rawMaterialProductName">Product Name</label>
                    <input id="rawMaterialProductName" ng-model="vm.rawMaterial.productName" class="form-control" placeholder="Enter Product Name Here" required />
                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input id="model" ng-model="vm.rawMaterial.model" class="form-control" placeholder="Enter Model Here" required />
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <input id="size" ng-model="vm.rawMaterial.size" class="form-control" placeholder="Enter Size Here" required />
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input id="color" ng-model="vm.rawMaterial.color" class="form-control" placeholder="Enter Color Here" required />
                </div>
                <div class="form-group">
                    <label for="origin">Origin</label>
                    <input id="origin" ng-model="vm.rawMaterial.origin" class="form-control" placeholder="Enter Origin Here" required />
                </div>
                <div class="form-group">
                    <label for="productUnit">Product Unit</label>
                    <select id="productUnit" ng-model="vm.selectedProductUnit" ng-options="option.unitName for option in vm.productUnits track by option.id">
                        <option value="">---Please select---</option>
                    </select>
                </div>                
                <div class="form-group">
                    <label for="reOrderPoint">Re Order Point</label>
                    <input id="reOrderPoint" ng-model="vm.rawMaterial.reOrderPoint" class="form-control" placeholder="Enter Re Order Point Here" required />
                </div>
                <button ng-click="vm.saveRawMaterial()" ng-disabled="newRawMaterialForm.$invalid" type="submit" class="btn btn-primary">Save</button>
            </fieldset>
        </form>

    </div>
    <div class="row">

        <legend>All Raw Materials</legend>
    </div>
    <div class="row">
        <button ng-click="vm.editSelectedRow()" class="btn btn-primary" ng-disabled="vm.disableEdit" style="margin:10px 0 10px 0">Edit Selected Row</button>
        <button ng-click="vm.deleteRawMaterial()" class="btn btn-primary" ng-disabled="vm.disableEdit" style="margin:10px 0 10px 0">Delete Selected Row</button>
    </div>
    <div class="row">
        <div id="rawMaterialGrid" ui-grid="vm.gridOptions" ui-grid-selection class="uigrid"></div>
    </div>
</div>