<div ng-controller="productApiController as vm">
    <div class="row">
        <form id="frmNewProductApi" role="form" name="newProductApiForm" class="form-inline" novalidate>
            <fieldset>
                <legend>Add Product API</legend>
                <input id="apiId" ng-model="vm.productApi.id" type="hidden" />
                <div class="form-group">
                    <label for="apiCode">API Code</label>
                    <input id="apiCode" ng-model="vm.productApi.apiCode" class="form-control" placeholder="Enter Product API Code Here" required />
                </div>
                <div class="form-group">
                    <label for="apiName">API Name</label>
                    <input id="apiName" ng-model="vm.productApi.apiName" class="form-control" placeholder="Enter Product API Name Here" required />
                </div>
                <button ng-click="vm.saveProductApi()" ng-disabled="newProductApiForm.$invalid" type="submit" class="btn btn-primary">Save</button>
            </fieldset>
        </form>

    </div>
    <div class="row">

        <legend>All Product APIs</legend>
    </div>
    <div class="row">
        <button ng-click="vm.editSelectedRow()" class="btn btn-primary" ng-disabled="vm.disableEdit" style="margin:10px 0 10px 0">Edit Selected Row</button>
        <button ng-click="vm.deleteProductApi()" class="btn btn-primary" ng-disabled="vm.disableEdit" style="margin:10px 0 10px 0">Delete Selected Row</button>
    </div>
    <div class="row">
        <div id="productApiGrid" ui-grid="vm.gridOptions" ui-grid-selection class="uigrid"></div>
    </div>
</div>